# 数据的加载

In [1]:
import pandas as pd
import numpy as np

## 1.入门

### 对于表格的加载，我们使用的pandas提供的读取方法：read_csv()和read_table()，读取的结果是成为DataFrame类型的数据。由于读取表格数据是情况各式各样，比较复杂。所以单单这个读取函数就要有几十个参数，来应对不同的情况。

In [2]:
!type PythonForDataAnalysis-master\PythonForDataAnalysis-master\ch06\ex1.csv

a,b,c,d,message
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [3]:
data = pd.read_csv('PythonForDataAnalysis-master\PythonForDataAnalysis-master\ch06\ex1.csv')

In [4]:
data

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

**1.有些数据是带有逗号或者空格，那么就使用sep=参数实现数据的分隔**
**2.对一些数据，是不带任何表头的，所以我们需要加上表头**
**3.在一个文件里，会有很多标注，我们录入时要将其去掉，引入跳行读取方法**
**4.使用na_vaules将特定的数据转为nan这个类型**

①

In [5]:
data = pd.read_csv('PythonForDataAnalysis-master\PythonForDataAnalysis-master\ch06\ex1.csv',sep=',')

In [6]:
data

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

②

In [7]:
data2 = pd.read_csv('PythonForDataAnalysis-master\PythonForDataAnalysis-master\ch06\ex2.csv')
data2

   1   2   3   4  hello
0  5   6   7   8  world
1  9  10  11  12    foo

In [8]:
#对于分隔也昆虫使用正则表达式
list(open('PythonForDataAnalysis-master\PythonForDataAnalysis-master\ch06\ex3.txt'))

['            A         B         C\n',
 'aaa -0.264438 -1.026059 -0.619500\n',
 'bbb  0.927272  0.302904 -0.032399\n',
 'ccc -0.264273 -0.386314 -0.217601\n',
 'ddd -0.871858 -0.348382  1.100491\n']

In [9]:
result = pd.read_table('PythonForDataAnalysis-master\PythonForDataAnalysis-master\ch06\ex3.txt',sep='\s+')
result

C:\Users\Lenovo\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: read_table is deprecated, use read_csv instead.
  """Entry point for launching an IPython kernel.

            A         B         C
aaa -0.264438 -1.026059 -0.619500
bbb  0.927272  0.302904 -0.032399
ccc -0.264273 -0.386314 -0.217601
ddd -0.871858 -0.348382  1.100491

In [10]:
#加入特定的表头
data2 = pd.read_csv('PythonForDataAnalysis-master\PythonForDataAnalysis-master\ch06\ex1.csv',header=None)
data2

   0   1   2   3        4
0  a   b   c   d  message
1  1   2   3   4    hello
2  5   6   7   8    world
3  9  10  11  12      foo

In [11]:
#给表格起名特定的表头
data2 = pd.read_csv('PythonForDataAnalysis-master\PythonForDataAnalysis-master\ch06\ex1.csv',names=['a','b','c','d','message'])
data2

   a   b   c   d  message
0  a   b   c   d  message
1  1   2   3   4    hello
2  5   6   7   8    world
3  9  10  11  12      foo

In [12]:
#index_col改变某一个列为index
names=['a','b','c','d','message']
data2 = pd.read_csv('PythonForDataAnalysis-master\PythonForDataAnalysis-master\ch06\ex1.csv',names=names,index_col=['a','message'])
data2

            b   c   d
a message
a message   b   c   d
1 hello     2   3   4
5 world     6   7   8
9 foo      10  11  12

③

**读取文件跳过某一行使用skiprows()**

In [13]:
!type PythonForDataAnalysis-master\PythonForDataAnalysis-master\ch06\ex4.csv

# hey!
a,b,c,d,message
# just wanted to make things more difficult for you
# who reads CSV files with computers, anyway?
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [14]:
pd.read_csv('PythonForDataAnalysis-master\PythonForDataAnalysis-master\ch06\ex4.csv')

                                                                      # hey!
a                                                  b        c   d    message
# just wanted to make things more difficult for... NaN      NaN NaN      NaN
# who reads CSV files with computers                anyway? NaN NaN      NaN
1                                                  2        3   4      hello
5                                                  6        7   8      world
9                                                  10       11  12       foo

In [15]:
pd.read_csv('PythonForDataAnalysis-master\PythonForDataAnalysis-master\ch06\ex4.csv',skiprows=[0,2,3])

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

④

In [16]:
result = pd.read_csv('PythonForDataAnalysis-master\PythonForDataAnalysis-master\ch06\ex5.csv')
result

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [17]:
#可以使用字典的使某些元素变为nan
element = {'message':['world','foo'],'d':[4,8]}
result = pd.read_csv('PythonForDataAnalysis-master\PythonForDataAnalysis-master\ch06\ex5.csv',na_values=element)

In [18]:
result

  something  a   b     c     d  message
0       one  1   2   3.0   NaN      NaN
1       two  5   6   NaN   NaN      NaN
2     three  9  10  11.0  12.0      NaN

## 2.逐块读取文本文件

**对于一个数据量比较大的文件，全部读取是很不方便的。我们通过nrows=参数调整输出的数据的多少**

In [19]:
result = pd.read_csv('PythonForDataAnalysis-master\PythonForDataAnalysis-master\ch06\ex6.csv')
result

           one       two     three      four key
0     0.467976 -0.038649 -0.295344 -1.824726   L
1    -0.358893  1.404453  0.704965 -0.200638   B
2    -0.501840  0.659254 -0.421691 -0.057688   G
3     0.204886  1.074134  1.388361 -0.982404   R
4     0.354628 -0.133116  0.283763 -0.837063   Q
5     1.817480  0.742273  0.419395 -2.251035   Q
6    -0.776764  0.935518 -0.332872 -1.875641   U
7    -0.913135  1.530624 -0.572657  0.477252   K
8     0.358480 -0.497572 -0.367016  0.507702   S
9    -1.740877 -1.160417 -1.637830  2.172201   G
10    0.240564 -0.328249  1.252155  1.072796   8
11    0.764018  1.165476 -0.639544  1.495258   R
12    0.571035 -0.310537  0.582437 -0.298765   1
13    2.317658  0.430710 -1.334216  0.199679   P
14    1.547771 -1.119753 -2.277634  0.329586   J
15   -1.310608  0.401719 -1.000987  1.156708   E
16   -0.088496  0.634712  0.153324  0.415335   B
17   -0.018663 -0.247487 -1.446522  0.750938   A
18   -0.070127 -1.579097  0.120892  0.671432   F
19   -0.194678 -0.492039  2.359605  0.319810   H
20   -0.248618  0.868707 -0.492226 -0.717959   W
21   -1.091549 -0.867110 -0.647760 -0.832562   C
22    0.641404 -0.138822 -0.621963 -0.284839   C
23    1.216408  0.992687  0.165162 -0.069619   V
24   -0.564474  0.792832  0.747053  0.571675   I
25    1.759879 -0.515666 -0.230481  1.362317   S
26    0.126266  0.309281  0.382820 -0.239199   L
27    1.334360 -0.100152 -0.840731 -0.643967   6
28   -0.737620  0.278087 -0.053235 -0.950972   J
29   -1.148486 -0.986292 -0.144963  0.124362   Y
...        ...       ...       ...       ...  ..
9970  0.633495 -0.186524  0.927627  0.143164   4
9971  0.308636 -0.112857  0.762842 -1.072977   1
9972 -1.627051 -0.978151  0.154745 -1.229037   Z
9973  0.314847  0.097989  0.199608  0.955193   P
9974  1.666907  0.992005  0.496128 -0.686391   S
9975  0.010603  0.708540 -1.258711  0.226541   K
9976  0.118693 -0.714455 -0.501342 -0.254764   K
9977  0.302616 -2.011527 -0.628085  0.768827   H
9978 -0.098572  1.769086 -0.215027 -0.053076   A
9979 -0.019058  1.964994  0.738538 -0.883776   F
9980 -0.595349  0.001781 -1.423355 -1.458477   M
9981  1.392170 -1.396560 -1.425306 -0.847535   H
9982 -0.896029 -0.152287  1.924483  0.365184   6
9983 -2.274642 -0.901874  1.500352  0.996541   N
9984 -0.301898  1.019906  1.102160  2.624526   I
9985 -2.548389 -0.585374  1.496201 -0.718815   D
9986 -0.064588  0.759292 -1.568415 -0.420933   E
9987 -0.143365 -1.111760 -1.815581  0.435274   2
9988 -0.070412 -1.055921  0.338017 -0.440763   X
9989  0.649148  0.994273 -1.384227  0.485120   Q
9990 -0.370769  0.404356 -1.051628 -1.050899   8
9991 -0.409980  0.155627 -0.818990  1.277350   W
9992  0.301214 -1.111203  0.668258  0.671922   A
9993  1.821117  0.416445  0.173874  0.505118   X
9994  0.068804  1.322759  0.802346  0.223618   H
9995  2.311896 -0.417070 -1.409599 -0.515821   L
9996 -0.479893 -0.650419  0.745152 -0.646038   E
9997  0.523331  0.787112  0.486066  1.093156   K
9998 -0.362559  0.598894 -1.843201  0.887292   G
9999 -0.096376 -1.012999 -0.657431 -0.573315   0

[10000 rows x 5 columns]

In [20]:
#只读取前10行
result = pd.read_csv('PythonForDataAnalysis-master\PythonForDataAnalysis-master\ch06\ex6.csv',nrows=10)
result

        one       two     three      four key
0  0.467976 -0.038649 -0.295344 -1.824726   L
1 -0.358893  1.404453  0.704965 -0.200638   B
2 -0.501840  0.659254 -0.421691 -0.057688   G
3  0.204886  1.074134  1.388361 -0.982404   R
4  0.354628 -0.133116  0.283763 -0.837063   Q
5  1.817480  0.742273  0.419395 -2.251035   Q
6 -0.776764  0.935518 -0.332872 -1.875641   U
7 -0.913135  1.530624 -0.572657  0.477252   K
8  0.358480 -0.497572 -0.367016  0.507702   S
9 -1.740877 -1.160417 -1.637830  2.172201   G

In [21]:
#逐块读取文件
chunker =  pd.read_csv('PythonForDataAnalysis-master\PythonForDataAnalysis-master\ch06\ex6.csv',chunksize=1000)

In [22]:
chunker

In [23]:
for i in chunker:
    print(i)

          one       two     three      four key
0    0.467976 -0.038649 -0.295344 -1.824726   L
1   -0.358893  1.404453  0.704965 -0.200638   B
2   -0.501840  0.659254 -0.421691 -0.057688   G
3    0.204886  1.074134  1.388361 -0.982404   R
4    0.354628 -0.133116  0.283763 -0.837063   Q
5    1.817480  0.742273  0.419395 -2.251035   Q
6   -0.776764  0.935518 -0.332872 -1.875641   U
7   -0.913135  1.530624 -0.572657  0.477252   K
8    0.358480 -0.497572 -0.367016  0.507702   S
9   -1.740877 -1.160417 -1.637830  2.172201   G
10   0.240564 -0.328249  1.252155  1.072796   8
11   0.764018  1.165476 -0.639544  1.495258   R
12   0.571035 -0.310537  0.582437 -0.298765   1
13   2.317658  0.430710 -1.334216  0.199679   P
14   1.547771 -1.119753 -2.277634  0.329586   J
15  -1.310608  0.401719 -1.000987  1.156708   E
16  -0.088496  0.634712  0.153324  0.415335   B
17  -0.018663 -0.247487 -1.446522  0.750938   A
18  -0.070127 -1.579097  0.120892  0.671432   F
19  -0.194678 -0.492039  2.359605  0.319810   H
20  -0.248618  0.868707 -0.492226 -0.717959   W
21  -1.091549 -0.867110 -0.647760 -0.832562   C
22   0.641404 -0.138822 -0.621963 -0.284839   C
23   1.216408  0.992687  0.165162 -0.069619   V
24  -0.564474  0.792832  0.747053  0.571675   I
25   1.759879 -0.515666 -0.230481  1.362317   S
26   0.126266  0.309281  0.382820 -0.239199   L
27   1.334360 -0.100152 -0.840731 -0.643967   6
28  -0.737620  0.278087 -0.053235 -0.950972   J
29  -1.148486 -0.986292 -0.144963  0.124362   Y
..        ...       ...       ...       ...  ..
970  0.633495 -0.186524  0.927627  0.143164   P
971  0.308636 -0.112857  0.762842 -1.072977   X
972 -1.627051 -0.978151  0.154745 -1.229037   O
973  0.314847  0.097989  0.199608  0.955193   R
974  1.666907  0.992005  0.496128 -0.686391   W
975  0.010603  0.708540 -1.258711  0.226541   O
976  0.118693 -0.714455 -0.501342 -0.254764   S
977  0.302616 -2.011527 -0.628085  0.768827   R
978 -0.098572  1.769086 -0.215027 -0.053076   G
979 -0.019058  1.964994  0.738538 -0.883776   X
980 -0.595349  0.001781 -1.423355 -1.458477   O
981  1.392170 -1.396560 -1.425306 -0.847535   K
982 -0.896029 -0.152287  1.924483  0.365184   M
983 -2.274642 -0.901874  1.500352  0.996541   Q
984 -0.301898  1.019906  1.102160  2.624526   Q
985 -2.548389 -0.585374  1.496201 -0.718815   R
986 -0.064588  0.759292 -1.568415 -0.420933   N
987 -0.143365 -1.111760 -1.815581  0.435274   C
988 -0.070412 -1.055921  0.338017 -0.440763   X
989  0.649148  0.994273 -1.384227  0.485120   I
990 -0.370769  0.404356 -1.051628 -1.050899   V
991 -0.409980  0.155627 -0.818990  1.277350   4
992  0.301214 -1.111203  0.668258  0.671922   Q
993  1.821117  0.416445  0.173874  0.505118   O
994  0.068804  1.322759  0.802346  0.223618   W
995  2.311896 -0.417070 -1.409599 -0.515821   M
996 -0.479893 -0.650419  0.745152 -0.646038   H
997  0.523331  0.787112  0.486066  1.093156   D
998 -0.362559  0.598894 -1.843201  0.887292   W
999 -0.096376 -1.012999 -0.657431 -0.573315   K

[1000 rows x 5 columns]
           one       two     three      four key
1000  0.467976 -0.038649 -0.295344 -1.824726   T
1001 -0.358893  1.404453  0.704965 -0.200638   J
1002 -0.501840  0.659254 -0.421691 -0.057688   R
1003  0.204886  1.074134  1.388361 -0.982404   S
1004  0.354628 -0.133116  0.283763 -0.837063   B
1005  1.817480  0.742273  0.419395 -2.251035   Q
1006 -0.776764  0.935518 -0.332872 -1.875641   Z
1007 -0.913135  1.530624 -0.572657  0.477252   X
1008  0.358480 -0.497572 -0.367016  0.507702   R
1009 -1.740877 -1.160417 -1.637830  2.172201   4
1010  0.240564 -0.328249  1.252155  1.072796   5
1011  0.764018  1.165476 -0.639544  1.495258   A
1012  0.571035 -0.310537  0.582437 -0.298765   J
1013  2.317658  0.430710 -1.334216  0.199679   L
1014  1.547771 -1.119753 -2.277634  0.329586   N
1015 -1.310608  0.401719 -1.000987  1.156708   I
1016 -0.088496  0.634712  0.153324  0.415335   6
1017 -0.018663 -0.247487 -1.446522  0.750938   T
1018 -0.070127 -1.579097  0.120892  0.671432   R
1019 -0.194678 -0.492039  2.359605  0.319810   4
1020 -0.248618  0.868707 -0.492226 -0.717959   Z
1021 -1.091549 -0.867110 -0.647760 -0.832562   K
1022  0.641404 -0.138822 -0.621963 -0.284839   B
1023  1.216408  0.992687  0.165162 -0.069619   O
1024 -0.564474  0.792832  0.747053  0.571675   G
1025  1.759879 -0.515666 -0.230481  1.362317   F
1026  0.126266  0.309281  0.382820 -0.239199   I
1027  1.334360 -0.100152 -0.840731 -0.643967   K
1028 -0.737620  0.278087 -0.053235 -0.950972   L
1029 -1.148486 -0.986292 -0.144963  0.124362   O
...        ...       ...       ...       ...  ..
1970  0.633495 -0.186524  0.927627  0.143164   V
1971  0.308636 -0.112857  0.762842 -1.072977   J
1972 -1.627051 -0.978151  0.154745 -1.229037   Q
1973  0.314847  0.097989  0.199608  0.955193   R
1974  1.666907  0.992005  0.496128 -0.686391   T
1975  0.010603  0.708540 -1.258711  0.226541   R
1976  0.118693 -0.714455 -0.501342 -0.254764   3
1977  0.302616 -2.011527 -0.628085  0.768827   O
1978 -0.098572  1.769086 -0.215027 -0.053076   O
1979 -0.019058  1.964994  0.738538 -0.883776   8
1980 -0.595349  0.001781 -1.423355 -1.458477   A
1981  1.392170 -1.396560 -1.425306 -0.847535   7
1982 -0.896029 -0.152287  1.924483  0.365184   V
1983 -2.274642 -0.901874  1.500352  0.996541   S
1984 -0.301898  1.019906  1.102160  2.624526   W
1985 -2.548389 -0.585374  1.496201 -0.718815   O
1986 -0.064588  0.759292 -1.568415 -0.420933   M
1987 -0.143365 -1.111760 -1.815581  0.435274   S
1988 -0.070412 -1.055921  0.338017 -0.440763   D
1989  0.649148  0.994273 -1.384227  0.485120   P
1990 -0.370769  0.404356 -1.051628 -1.050899   B
1991 -0.409980  0.155627 -0.818990  1.277350   D
1992  0.301214 -1.111203  0.668258  0.671922   F
1993  1.821117  0.416445  0.173874  0.505118   O
1994  0.068804  1.322759  0.802346  0.223618   Q
1995  2.311896 -0.417070 -1.409599 -0.515821   L
1996 -0.479893 -0.650419  0.745152 -0.646038   J
1997  0.523331  0.787112  0.486066  1.093156   V
1998 -0.362559  0.598894 -1.843201  0.887292   W
1999 -0.096376 -1.012999 -0.657431 -0.573315   D

[1000 rows x 5 columns]
           one       two     three      four key
2000  0.467976 -0.038649 -0.295344 -1.824726   1
2001 -0.358893  1.404453  0.704965 -0.200638   H
2002 -0.501840  0.659254 -0.421691 -0.057688   F
2003  0.204886  1.074134  1.388361 -0.982404   L
2004  0.354628 -0.133116  0.283763 -0.837063   E
2005  1.817480  0.742273  0.419395 -2.251035   3
2006 -0.776764  0.935518 -0.332872 -1.875641   G
2007 -0.913135  1.530624 -0.572657  0.477252   X
2008  0.358480 -0.497572 -0.367016  0.507702   D
2009 -1.740877 -1.160417 -1.637830  2.172201   Q
2010  0.240564 -0.328249  1.252155  1.072796   N
2011  0.764018  1.165476 -0.639544  1.495258   W
2012  0.571035 -0.310537  0.582437 -0.298765   T
2013  2.317658  0.430710 -1.334216  0.199679   M
2014  1.547771 -1.119753 -2.277634  0.329586   M
2015 -1.310608  0.401719 -1.000987  1.156708   X
2016 -0.088496  0.634712  0.153324  0.415335   Z
2017 -0.018663 -0.247487 -1.446522  0.750938   T
2018 -0.070127 -1.579097  0.120892  0.671432   E
2019 -0.194678 -0.492039  2.359605  0.319810   H
2020 -0.248618  0.868707 -0.492226 -0.717959   U
2021 -1.091549 -0.867110 -0.647760 -0.832562   Q
2022  0.641404 -0.138822 -0.621963 -0.284839   I
2023  1.216408  0.992687  0.165162 -0.069619   1
2024 -0.564474  0.792832  0.747053  0.571675   Y
2025  1.759879 -0.515666 -0.230481  1.362317   9
2026  0.126266  0.309281  0.382820 -0.239199   E
2027  1.334360 -0.100152 -0.840731 -0.643967   C
2028 -0.737620  0.278087 -0.053235 -0.950972   6
2029 -1.148486 -0.986292 -0.144963  0.124362   K
...        ...       ...       ...       ...  ..
2970  0.633495 -0.186524  0.927627  0.143164   4
2971  0.308636 -0.112857  0.762842 -1.072977   L
2972 -1.627051 -0.978151  0.154745 -1.229037   M
2973  0.314847  0.097989  0.199608  0.955193   X
2974  1.666907  0.992005  0.496128 -0.686391   9
2975  0.010603  0.708540 -1.258711  0.226541   F
2976  0.118693 -0.714455 -0.501342 -0.254764   C
2977  0.302616 -2.011527 -0.628085  0.768827   K
2978 -0.098572  1.769086 -0.215027 -0.053076   S
2979 -0.019058  1.964994  0.738538 -0.883776   X
2980 -0.595349  0.001781 -1.423355 -1.458477   H
2981  1.392170 -1.396560 -1.425306 -0.847535   K
2982 -0.896029 -0.152287  1.924483  0.365184   8
2983 -2.274642 -0.901874  1.500352  0.996541   G
2984 -0.301898  1.019906  1.102160  2.624526   3
2985 -2.548389 -0.585374  1.496201 -0.718815   Y
2986 -0.064588  0.759292 -1.568415 -0.420933   K
2987 -0.143365 -1.111760 -1.815581  0.435274   P
2988 -0.070412 -1.055921  0.338017 -0.440763   U
2989  0.649148  0.994273 -1.384227  0.485120   Y
2990 -0.370769  0.404356 -1.051628 -1.050899   U
2991 -0.409980  0.155627 -0.818990  1.277350   V
2992  0.301214 -1.111203  0.668258  0.671922   H
2993  1.821117  0.416445  0.173874  0.505118   A
2994  0.068804  1.322759  0.802346  0.223618   0
2995  2.311896 -0.417070 -1.409599 -0.515821   H
2996 -0.479893 -0.650419  0.745152 -0.646038   U
2997  0.523331  0.787112  0.486066  1.093156   A
2998 -0.362559  0.598894 -1.843201  0.887292   Y
2999 -0.096376 -1.012999 -0.657431 -0.573315   F

[1000 rows x 5 columns]
           one       two     three      four key
3000  0.467976 -0.038649 -0.295344 -1.824726   H
3001 -0.358893  1.404453  0.704965 -0.200638   Y
3002 -0.501840  0.659254 -0.421691 -0.057688   0
3003  0.204886  1.074134  1.388361 -0.982404   Z
3004  0.354628 -0.133116  0.283763 -0.837063   U
3005  1.817480  0.742273  0.419395 -2.251035   B
3006 -0.776764  0.935518 -0.332872 -1.875641   D
3007 -0.913135  1.530624 -0.572657  0.477252   J
3008  0.358480 -0.497572 -0.367016  0.507702   7
3009 -1.740877 -1.160417 -1.637830  2.172201   2
3010  0.240564 -0.328249  1.252155  1.072796   R
3011  0.764018  1.165476 -0.639544  1.495258   X
3012  0.571035 -0.310537  0.582437 -0.298765   A
3013  2.317658  0.430710 -1.334216  0.199679   0
3014  1.547771 -1.119753 -2.277634  0.329586   U
3015 -1.310608  0.401719 -1.000987  1.156708   B
3016 -0.088496  0.634712  0.153324  0.415335   E
3017 -0.018663 -0.247487 -1.446522  0.750938   W
3018 -0.070127 -1.579097  0.120892  0.671432   T
3019 -0.194678 -0.492039  2.359605  0.319810   U
3020 -0.248618  0.868707 -0.492226 -0.717959   P
3021 -1.091549 -0.867110 -0.647760 -0.832562   P
3022  0.641404 -0.138822 -0.621963 -0.284839   D
3023  1.216408  0.992687  0.165162 -0.069619   T
3024 -0.564474  0.792832  0.747053  0.571675   1
3025  1.759879 -0.515666 -0.230481  1.362317   N
3026  0.126266  0.309281  0.382820 -0.239199   A
3027  1.334360 -0.100152 -0.840731 -0.643967   J
3028 -0.737620  0.278087 -0.053235 -0.950972   A
3029 -1.148486 -0.986292 -0.144963  0.124362   E
...        ...       ...       ...       ...  ..
3970  0.633495 -0.186524  0.927627  0.143164   H
3971  0.308636 -0.112857  0.762842 -1.072977   O
3972 -1.627051 -0.978151  0.154745 -1.229037   A
3973  0.314847  0.097989  0.199608  0.955193   X
3974  1.666907  0.992005  0.496128 -0.686391   Y
3975  0.010603  0.708540 -1.258711  0.226541   F
3976  0.118693 -0.714455 -0.501342 -0.254764   E
3977  0.302616 -2.011527 -0.628085  0.768827   D
3978 -0.098572  1.769086 -0.215027 -0.053076   S
3979 -0.019058  1.964994  0.738538 -0.883776   U
3980 -0.595349  0.001781 -1.423355 -1.458477   5
3981  1.392170 -1.396560 -1.425306 -0.847535   B
3982 -0.896029 -0.152287  1.924483  0.365184   T
3983 -2.274642 -0.901874  1.500352  0.996541   C
3984 -0.301898  1.019906  1.102160  2.624526   H
3985 -2.548389 -0.585374  1.496201 -0.718815   7
3986 -0.064588  0.759292 -1.568415 -0.420933   J
3987 -0.143365 -1.111760 -1.815581  0.435274   N
3988 -0.070412 -1.055921  0.338017 -0.440763   U
3989  0.649148  0.994273 -1.384227  0.485120   2
3990 -0.370769  0.404356 -1.051628 -1.050899   5
3991 -0.409980  0.155627 -0.818990  1.277350   I
3992  0.301214 -1.111203  0.668258  0.671922   6
3993  1.821117  0.416445  0.173874  0.505118   S
3994  0.068804  1.322759  0.802346  0.223618   V
3995  2.311896 -0.417070 -1.409599 -0.515821   W
3996 -0.479893 -0.650419  0.745152 -0.646038   E
3997  0.523331  0.787112  0.486066  1.093156   Q
3998 -0.362559  0.598894 -1.843201  0.887292   A
3999 -0.096376 -1.012999 -0.657431 -0.573315   M

[1000 rows x 5 columns]
           one       two     three      four key
4000  0.467976 -0.038649 -0.295344 -1.824726   H
4001 -0.358893  1.404453  0.704965 -0.200638   Z
4002 -0.501840  0.659254 -0.421691 -0.057688   2
4003  0.204886  1.074134  1.388361 -0.982404   B
4004  0.354628 -0.133116  0.283763 -0.837063   1
4005  1.817480  0.742273  0.419395 -2.251035   R
4006 -0.776764  0.935518 -0.332872 -1.875641   R
4007 -0.913135  1.530624 -0.572657  0.477252   L
4008  0.358480 -0.497572 -0.367016  0.507702   8
4009 -1.740877 -1.160417 -1.637830  2.172201   M
4010  0.240564 -0.328249  1.252155  1.072796   K
4011  0.764018  1.165476 -0.639544  1.495258   8
4012  0.571035 -0.310537  0.582437 -0.298765   U
4013  2.317658  0.430710 -1.334216  0.199679   5
4014  1.547771 -1.119753 -2.277634  0.329586   M
4015 -1.310608  0.401719 -1.000987  1.156708   0
4016 -0.088496  0.634712  0.153324  0.415335   B
4017 -0.018663 -0.247487 -1.446522  0.750938   K
4018 -0.070127 -1.579097  0.120892  0.671432   Y
4019 -0.194678 -0.492039  2.359605  0.319810   N
4020 -0.248618  0.868707 -0.492226 -0.717959   K
4021 -1.091549 -0.867110 -0.647760 -0.832562   E
4022  0.641404 -0.138822 -0.621963 -0.284839   A
4023  1.216408  0.992687  0.165162 -0.069619   A
4024 -0.564474  0.792832  0.747053  0.571675   8
4025  1.759879 -0.515666 -0.230481  1.362317   I
4026  0.126266  0.309281  0.382820 -0.239199   I
4027  1.334360 -0.100152 -0.840731 -0.643967   L
4028 -0.737620  0.278087 -0.053235 -0.950972   U
4029 -1.148486 -0.986292 -0.144963  0.124362   L
...        ...       ...       ...       ...  ..
4970  0.633495 -0.186524  0.927627  0.143164   K
4971  0.308636 -0.112857  0.762842 -1.072977   N
4972 -1.627051 -0.978151  0.154745 -1.229037   F
4973  0.314847  0.097989  0.199608  0.955193   H
4974  1.666907  0.992005  0.496128 -0.686391   G
4975  0.010603  0.708540 -1.258711  0.226541   3
4976  0.118693 -0.714455 -0.501342 -0.254764   5
4977  0.302616 -2.011527 -0.628085  0.768827   K
4978 -0.098572  1.769086 -0.215027 -0.053076   Z
4979 -0.019058  1.964994  0.738538 -0.883776   4
4980 -0.595349  0.001781 -1.423355 -1.458477   L
4981  1.392170 -1.396560 -1.425306 -0.847535   C
4982 -0.896029 -0.152287  1.924483  0.365184   M
4983 -2.274642 -0.901874  1.500352  0.996541   P
4984 -0.301898  1.019906  1.102160  2.624526   K
4985 -2.548389 -0.585374  1.496201 -0.718815   7
4986 -0.064588  0.759292 -1.568415 -0.420933   I
4987 -0.143365 -1.111760 -1.815581  0.435274   U
4988 -0.070412 -1.055921  0.338017 -0.440763   K
4989  0.649148  0.994273 -1.384227  0.485120   O
4990 -0.370769  0.404356 -1.051628 -1.050899   4
4991 -0.409980  0.155627 -0.818990  1.277350   O
4992  0.301214 -1.111203  0.668258  0.671922   0
4993  1.821117  0.416445  0.173874  0.505118   S
4994  0.068804  1.322759  0.802346  0.223618   H
4995  2.311896 -0.417070 -1.409599 -0.515821   X
4996 -0.479893 -0.650419  0.745152 -0.646038   M
4997  0.523331  0.787112  0.486066  1.093156   5
4998 -0.362559  0.598894 -1.843201  0.887292   T
4999 -0.096376 -1.012999 -0.657431 -0.573315   U

[1000 rows x 5 columns]

           one       two     three      four key
5000  0.467976 -0.038649 -0.295344 -1.824726   1
5001 -0.358893  1.404453  0.704965 -0.200638   Z
5002 -0.501840  0.659254 -0.421691 -0.057688   3
5003  0.204886  1.074134  1.388361 -0.982404   H
5004  0.354628 -0.133116  0.283763 -0.837063   B
5005  1.817480  0.742273  0.419395 -2.251035   L
5006 -0.776764  0.935518 -0.332872 -1.875641   O
5007 -0.913135  1.530624 -0.572657  0.477252   8
5008  0.358480 -0.497572 -0.367016  0.507702   W
5009 -1.740877 -1.160417 -1.637830  2.172201   G
5010  0.240564 -0.328249  1.252155  1.072796   Y
5011  0.764018  1.165476 -0.639544  1.495258   S
5012  0.571035 -0.310537  0.582437 -0.298765   E
5013  2.317658  0.430710 -1.334216  0.199679   R
5014  1.547771 -1.119753 -2.277634  0.329586   B
5015 -1.310608  0.401719 -1.000987  1.156708   L
5016 -0.088496  0.634712  0.153324  0.415335   Z
5017 -0.018663 -0.247487 -1.446522  0.750938   L
5018 -0.070127 -1.579097  0.120892  0.671432   F
5019 -0.194678 -0.492039  2.359605  0.319810   8
5020 -0.248618  0.868707 -0.492226 -0.717959   4
5021 -1.091549 -0.867110 -0.647760 -0.832562   K
5022  0.641404 -0.138822 -0.621963 -0.284839   Y
5023  1.216408  0.992687  0.165162 -0.069619   R
5024 -0.564474  0.792832  0.747053  0.571675   T
5025  1.759879 -0.515666 -0.230481  1.362317   S
5026  0.126266  0.309281  0.382820 -0.239199   O
5027  1.334360 -0.100152 -0.840731 -0.643967   V
5028 -0.737620  0.278087 -0.053235 -0.950972   P
5029 -1.148486 -0.986292 -0.144963  0.124362   B
...        ...       ...       ...       ...  ..
5970  0.633495 -0.186524  0.927627  0.143164   Y
5971  0.308636 -0.112857  0.762842 -1.072977   E
5972 -1.627051 -0.978151  0.154745 -1.229037   Q
5973  0.314847  0.097989  0.199608  0.955193   P
5974  1.666907  0.992005  0.496128 -0.686391   X
5975  0.010603  0.708540 -1.258711  0.226541   M
5976  0.118693 -0.714455 -0.501342 -0.254764   W
5977  0.302616 -2.011527 -0.628085  0.768827   O
5978 -0.098572  1.769086 -0.215027 -0.053076   T
5979 -0.019058  1.964994  0.738538 -0.883776   L
5980 -0.595349  0.001781 -1.423355 -1.458477   A
5981  1.392170 -1.396560 -1.425306 -0.847535   O
5982 -0.896029 -0.152287  1.924483  0.365184   P
5983 -2.274642 -0.901874  1.500352  0.996541   E
5984 -0.301898  1.019906  1.102160  2.624526   N
5985 -2.548389 -0.585374  1.496201 -0.718815   O
5986 -0.064588  0.759292 -1.568415 -0.420933   G
5987 -0.143365 -1.111760 -1.815581  0.435274   I
5988 -0.070412 -1.055921  0.338017 -0.440763   4
5989  0.649148  0.994273 -1.384227  0.485120   I
5990 -0.370769  0.404356 -1.051628 -1.050899   L
5991 -0.409980  0.155627 -0.818990  1.277350   H
5992  0.301214 -1.111203  0.668258  0.671922   X
5993  1.821117  0.416445  0.173874  0.505118   G
5994  0.068804  1.322759  0.802346  0.223618   R
5995  2.311896 -0.417070 -1.409599 -0.515821   1
5996 -0.479893 -0.650419  0.745152 -0.646038   Y
5997  0.523331  0.787112  0.486066  1.093156   F
5998 -0.362559  0.598894 -1.843201  0.887292   0
5999 -0.096376 -1.012999 -0.657431 -0.573315   3

[1000 rows x 5 columns]
           one       two     three      four key
6000  0.467976 -0.038649 -0.295344 -1.824726   I
6001 -0.358893  1.404453  0.704965 -0.200638   X
6002 -0.501840  0.659254 -0.421691 -0.057688   A
6003  0.204886  1.074134  1.388361 -0.982404   C
6004  0.354628 -0.133116  0.283763 -0.837063   S
6005  1.817480  0.742273  0.419395 -2.251035   T
6006 -0.776764  0.935518 -0.332872 -1.875641   M
6007 -0.913135  1.530624 -0.572657  0.477252   4
6008  0.358480 -0.497572 -0.367016  0.507702   N
6009 -1.740877 -1.160417 -1.637830  2.172201   H
6010  0.240564 -0.328249  1.252155  1.072796   V
6011  0.764018  1.165476 -0.639544  1.495258   I
6012  0.571035 -0.310537  0.582437 -0.298765   7
6013  2.317658  0.430710 -1.334216  0.199679   X
6014  1.547771 -1.119753 -2.277634  0.329586   K
6015 -1.310608  0.401719 -1.000987  1.156708   8
6016 -0.088496  0.634712  0.153324  0.415335   Z
6017 -0.018663 -0.247487 -1.446522  0.750938   F
6018 -0.070127 -1.579097  0.120892  0.671432   N
6019 -0.194678 -0.492039  2.359605  0.319810   V
6020 -0.248618  0.868707 -0.492226 -0.717959   J
6021 -1.091549 -0.867110 -0.647760 -0.832562   I
6022  0.641404 -0.138822 -0.621963 -0.284839   U
6023  1.216408  0.992687  0.165162 -0.069619   R
6024 -0.564474  0.792832  0.747053  0.571675   D
6025  1.759879 -0.515666 -0.230481  1.362317   F
6026  0.126266  0.309281  0.382820 -0.239199   F
6027  1.334360 -0.100152 -0.840731 -0.643967   2
6028 -0.737620  0.278087 -0.053235 -0.950972   B
6029 -1.148486 -0.986292 -0.144963  0.124362   Z
...        ...       ...       ...       ...  ..
6970  0.633495 -0.186524  0.927627  0.143164   G
6971  0.308636 -0.112857  0.762842 -1.072977   M
6972 -1.627051 -0.978151  0.154745 -1.229037   Y
6973  0.314847  0.097989  0.199608  0.955193   E
6974  1.666907  0.992005  0.496128 -0.686391   U
6975  0.010603  0.708540 -1.258711  0.226541   L
6976  0.118693 -0.714455 -0.501342 -0.254764   N
6977  0.302616 -2.011527 -0.628085  0.768827   J
6978 -0.098572  1.769086 -0.215027 -0.053076   P
6979 -0.019058  1.964994  0.738538 -0.883776   S
6980 -0.595349  0.001781 -1.423355 -1.458477   O
6981  1.392170 -1.396560 -1.425306 -0.847535   Z
6982 -0.896029 -0.152287  1.924483  0.365184   V
6983 -2.274642 -0.901874  1.500352  0.996541   O
6984 -0.301898  1.019906  1.102160  2.624526   G
6985 -2.548389 -0.585374  1.496201 -0.718815   N
6986 -0.064588  0.759292 -1.568415 -0.420933   E
6987 -0.143365 -1.111760 -1.815581  0.435274   I
6988 -0.070412 -1.055921  0.338017 -0.440763   4
6989  0.649148  0.994273 -1.384227  0.485120   I
6990 -0.370769  0.404356 -1.051628 -1.050899   T
6991 -0.409980  0.155627 -0.818990  1.277350   7
6992  0.301214 -1.111203  0.668258  0.671922   2
6993  1.821117  0.416445  0.173874  0.505118   Z
6994  0.068804  1.322759  0.802346  0.223618   F
6995  2.311896 -0.417070 -1.409599 -0.515821   P
6996 -0.479893 -0.650419  0.745152 -0.646038   9
6997  0.523331  0.787112  0.486066  1.093156   L
6998 -0.362559  0.598894 -1.843201  0.887292   5
6999 -0.096376 -1.012999 -0.657431 -0.573315   O

[1000 rows x 5 columns]
           one       two     three      four key
7000  0.467976 -0.038649 -0.295344 -1.824726   1
7001 -0.358893  1.404453  0.704965 -0.200638   I
7002 -0.501840  0.659254 -0.421691 -0.057688   H
7003  0.204886  1.074134  1.388361 -0.982404   P
7004  0.354628 -0.133116  0.283763 -0.837063   D
7005  1.817480  0.742273  0.419395 -2.251035   J
7006 -0.776764  0.935518 -0.332872 -1.875641   D
7007 -0.913135  1.530624 -0.572657  0.477252   0
7008  0.358480 -0.497572 -0.367016  0.507702   A
7009 -1.740877 -1.160417 -1.637830  2.172201   A
7010  0.240564 -0.328249  1.252155  1.072796   I
7011  0.764018  1.165476 -0.639544  1.495258   L
7012  0.571035 -0.310537  0.582437 -0.298765   C
7013  2.317658  0.430710 -1.334216  0.199679   7
7014  1.547771 -1.119753 -2.277634  0.329586   V
7015 -1.310608  0.401719 -1.000987  1.156708   E
7016 -0.088496  0.634712  0.153324  0.415335   P
7017 -0.018663 -0.247487 -1.446522  0.750938   G
7018 -0.070127 -1.579097  0.120892  0.671432   E
7019 -0.194678 -0.492039  2.359605  0.319810   W
7020 -0.248618  0.868707 -0.492226 -0.717959   A
7021 -1.091549 -0.867110 -0.647760 -0.832562   6
7022  0.641404 -0.138822 -0.621963 -0.284839   5
7023  1.216408  0.992687  0.165162 -0.069619   T
7024 -0.564474  0.792832  0.747053  0.571675   J
7025  1.759879 -0.515666 -0.230481  1.362317   K
7026  0.126266  0.309281  0.382820 -0.239199   8
7027  1.334360 -0.100152 -0.840731 -0.643967   E
7028 -0.737620  0.278087 -0.053235 -0.950972   J
7029 -1.148486 -0.986292 -0.144963  0.124362   D
...        ...       ...       ...       ...  ..
7970  0.633495 -0.186524  0.927627  0.143164   E
7971  0.308636 -0.112857  0.762842 -1.072977   D
7972 -1.627051 -0.978151  0.154745 -1.229037   L
7973  0.314847  0.097989  0.199608  0.955193   A
7974  1.666907  0.992005  0.496128 -0.686391   G
7975  0.010603  0.708540 -1.258711  0.226541   X
7976  0.118693 -0.714455 -0.501342 -0.254764   Q
7977  0.302616 -2.011527 -0.628085  0.768827   W
7978 -0.098572  1.769086 -0.215027 -0.053076   C
7979 -0.019058  1.964994  0.738538 -0.883776   G
7980 -0.595349  0.001781 -1.423355 -1.458477   T
7981  1.392170 -1.396560 -1.425306 -0.847535   7
7982 -0.896029 -0.152287  1.924483  0.365184   R
7983 -2.274642 -0.901874  1.500352  0.996541   K
7984 -0.301898  1.019906  1.102160  2.624526   R
7985 -2.548389 -0.585374  1.496201 -0.718815   D
7986 -0.064588  0.759292 -1.568415 -0.420933   R
7987 -0.143365 -1.111760 -1.815581  0.435274   R
7988 -0.070412 -1.055921  0.338017 -0.440763   8
7989  0.649148  0.994273 -1.384227  0.485120   T
7990 -0.370769  0.404356 -1.051628 -1.050899   U
7991 -0.409980  0.155627 -0.818990  1.277350   7
7992  0.301214 -1.111203  0.668258  0.671922   W
7993  1.821117  0.416445  0.173874  0.505118   8
7994  0.068804  1.322759  0.802346  0.223618   A
7995  2.311896 -0.417070 -1.409599 -0.515821   A
7996 -0.479893 -0.650419  0.745152 -0.646038   6
7997  0.523331  0.787112  0.486066  1.093156   R
7998 -0.362559  0.598894 -1.843201  0.887292   R
7999 -0.096376 -1.012999 -0.657431 -0.573315   2

[1000 rows x 5 columns]
           one       two     three      four key
8000  0.467976 -0.038649 -0.295344 -1.824726   7
8001 -0.358893  1.404453  0.704965 -0.200638   W
8002 -0.501840  0.659254 -0.421691 -0.057688   C
8003  0.204886  1.074134  1.388361 -0.982404   S
8004  0.354628 -0.133116  0.283763 -0.837063   H
8005  1.817480  0.742273  0.419395 -2.251035   C
8006 -0.776764  0.935518 -0.332872 -1.875641   V
8007 -0.913135  1.530624 -0.572657  0.477252   G
8008  0.358480 -0.497572 -0.367016  0.507702   L
8009 -1.740877 -1.160417 -1.637830  2.172201   Q
8010  0.240564 -0.328249  1.252155  1.072796   Y
8011  0.764018  1.165476 -0.639544  1.495258   Y
8012  0.571035 -0.310537  0.582437 -0.298765   9
8013  2.317658  0.430710 -1.334216  0.199679   K
8014  1.547771 -1.119753 -2.277634  0.329586   N
8015 -1.310608  0.401719 -1.000987  1.156708   4
8016 -0.088496  0.634712  0.153324  0.415335   P
8017 -0.018663 -0.247487 -1.446522  0.750938   Y
8018 -0.070127 -1.579097  0.120892  0.671432   O
8019 -0.194678 -0.492039  2.359605  0.319810   T
8020 -0.248618  0.868707 -0.492226 -0.717959   Y
8021 -1.091549 -0.867110 -0.647760 -0.832562   E
8022  0.641404 -0.138822 -0.621963 -0.284839   4
8023  1.216408  0.992687  0.165162 -0.069619   9
8024 -0.564474  0.792832  0.747053  0.571675   U
8025  1.759879 -0.515666 -0.230481  1.362317   H
8026  0.126266  0.309281  0.382820 -0.239199   C
8027  1.334360 -0.100152 -0.840731 -0.643967   E
8028 -0.737620  0.278087 -0.053235 -0.950972   7
8029 -1.148486 -0.986292 -0.144963  0.124362   9
...        ...       ...       ...       ...  ..
8970  0.633495 -0.186524  0.927627  0.143164   A
8971  0.308636 -0.112857  0.762842 -1.072977   T
8972 -1.627051 -0.978151  0.154745 -1.229037   5
8973  0.314847  0.097989  0.199608  0.955193   A
8974  1.666907  0.992005  0.496128 -0.686391   D
8975  0.010603  0.708540 -1.258711  0.226541   J
8976  0.118693 -0.714455 -0.501342 -0.254764   6
8977  0.302616 -2.011527 -0.628085  0.768827   R
8978 -0.098572  1.769086 -0.215027 -0.053076   O
8979 -0.019058  1.964994  0.738538 -0.883776   S
8980 -0.595349  0.001781 -1.423355 -1.458477   P
8981  1.392170 -1.396560 -1.425306 -0.847535   V
8982 -0.896029 -0.152287  1.924483  0.365184   Z
8983 -2.274642 -0.901874  1.500352  0.996541   O
8984 -0.301898  1.019906  1.102160  2.624526   3
8985 -2.548389 -0.585374  1.496201 -0.718815   F
8986 -0.064588  0.759292 -1.568415 -0.420933   R
8987 -0.143365 -1.111760 -1.815581  0.435274   Q
8988 -0.070412 -1.055921  0.338017 -0.440763   P
8989  0.649148  0.994273 -1.384227  0.485120   T
8990 -0.370769  0.404356 -1.051628 -1.050899   A
8991 -0.409980  0.155627 -0.818990  1.277350   Q
8992  0.301214 -1.111203  0.668258  0.671922   1
8993  1.821117  0.416445  0.173874  0.505118   W
8994  0.068804  1.322759  0.802346  0.223618   S
8995  2.311896 -0.417070 -1.409599 -0.515821   W
8996 -0.479893 -0.650419  0.745152 -0.646038   N
8997  0.523331  0.787112  0.486066  1.093156   Q
8998 -0.362559  0.598894 -1.843201  0.887292   R
8999 -0.096376 -1.012999 -0.657431 -0.573315   M

[1000 rows x 5 columns]
           one       two     three      four key
9000  0.467976 -0.038649 -0.295344 -1.824726   B
9001 -0.358893  1.404453  0.704965 -0.200638   M
9002 -0.501840  0.659254 -0.421691 -0.057688   N
9003  0.204886  1.074134  1.388361 -0.982404   N
9004  0.354628 -0.133116  0.283763 -0.837063   Y
9005  1.817480  0.742273  0.419395 -2.251035   0
9006 -0.776764  0.935518 -0.332872 -1.875641   R
9007 -0.913135  1.530624 -0.572657  0.477252   3
9008  0.358480 -0.497572 -0.367016  0.507702   C
9009 -1.740877 -1.160417 -1.637830  2.172201   D
9010  0.240564 -0.328249  1.252155  1.072796   U
9011  0.764018  1.165476 -0.639544  1.495258   3
9012  0.571035 -0.310537  0.582437 -0.298765   M
9013  2.317658  0.430710 -1.334216  0.199679   6
9014  1.547771 -1.119753 -2.277634  0.329586   N
9015 -1.310608  0.401719 -1.000987  1.156708   L
9016 -0.088496  0.634712  0.153324  0.415335   I
9017 -0.018663 -0.247487 -1.446522  0.750938   E
9018 -0.070127 -1.579097  0.120892  0.671432   C
9019 -0.194678 -0.492039  2.359605  0.319810   X
9020 -0.248618  0.868707 -0.492226 -0.717959   B
9021 -1.091549 -0.867110 -0.647760 -0.832562   D
9022  0.641404 -0.138822 -0.621963 -0.284839   K
9023  1.216408  0.992687  0.165162 -0.069619   L
9024 -0.564474  0.792832  0.747053  0.571675   Q
9025  1.759879 -0.515666 -0.230481  1.362317   L
9026  0.126266  0.309281  0.382820 -0.239199   C
9027  1.334360 -0.100152 -0.840731 -0.643967   M
9028 -0.737620  0.278087 -0.053235 -0.950972   5
9029 -1.148486 -0.986292 -0.144963  0.124362   9
...        ...       ...       ...       ...  ..
9970  0.633495 -0.186524  0.927627  0.143164   4
9971  0.308636 -0.112857  0.762842 -1.072977   1
9972 -1.627051 -0.978151  0.154745 -1.229037   Z
9973  0.314847  0.097989  0.199608  0.955193   P
9974  1.666907  0.992005  0.496128 -0.686391   S
9975  0.010603  0.708540 -1.258711  0.226541   K
9976  0.118693 -0.714455 -0.501342 -0.254764   K
9977  0.302616 -2.011527 -0.628085  0.768827   H
9978 -0.098572  1.769086 -0.215027 -0.053076   A
9979 -0.019058  1.964994  0.738538 -0.883776   F
9980 -0.595349  0.001781 -1.423355 -1.458477   M
9981  1.392170 -1.396560 -1.425306 -0.847535   H
9982 -0.896029 -0.152287  1.924483  0.365184   6
9983 -2.274642 -0.901874  1.500352  0.996541   N
9984 -0.301898  1.019906  1.102160  2.624526   I
9985 -2.548389 -0.585374  1.496201 -0.718815   D
9986 -0.064588  0.759292 -1.568415 -0.420933   E
9987 -0.143365 -1.111760 -1.815581  0.435274   2
9988 -0.070412 -1.055921  0.338017 -0.440763   X
9989  0.649148  0.994273 -1.384227  0.485120   Q
9990 -0.370769  0.404356 -1.051628 -1.050899   8
9991 -0.409980  0.155627 -0.818990  1.277350   W
9992  0.301214 -1.111203  0.668258  0.671922   A
9993  1.821117  0.416445  0.173874  0.505118   X
9994  0.068804  1.322759  0.802346  0.223618   H
9995  2.311896 -0.417070 -1.409599 -0.515821   L
9996 -0.479893 -0.650419  0.745152 -0.646038   E
9997  0.523331  0.787112  0.486066  1.093156   K
9998 -0.362559  0.598894 -1.843201  0.887292   G
9999 -0.096376 -1.012999 -0.657431 -0.573315   0

[1000 rows x 5 columns]

## 3.将数据写出到文本格式

**数据以csv打开后，再转出csv格式后，数据以逗号分开，当然你可以使用其他的分隔符(使用sep=参数)**

In [24]:
#只读取前10行
data = pd.read_csv('PythonForDataAnalysis-master\PythonForDataAnalysis-master\ch06\ex5.csv')
data

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [25]:
data.to_csv('PythonForDataAnalysis-master\PythonForDataAnalysis-master\ch06\out5.csv')

In [26]:
!type PythonForDataAnalysis-master\PythonForDataAnalysis-master\ch06\out5.csv

,something,a,b,c,d,message
0,one,1,2,3.0,4,
1,two,5,6,,8,world
2,three,9,10,11.0,12,foo

**ps:每次转存之后，还要使用！type打印出来(Linux使用cat)。我们使用sys在转存出后直接打印出来**

In [27]:
import sys

In [28]:
data.to_csv(sys.stdout,sep='|')

|something|a|b|c|d|message
0|one|1|2|3.0|4|
1|two|5|6||8|world
2|three|9|10|11.0|12|foo

**有时候数据中有空的元素，我们转存的结果在无元素的地方就空着，为了在空元素的地方添加标识，使用na_rep=**

In [29]:
data.to_csv(sys.stdout,sep='|',na_rep='空的')  #一般空元素使用'Null'

|something|a|b|c|d|message
0|one|1|2|3.0|4|空的
1|two|5|6|空的|8|world
2|three|9|10|11.0|12|foo

**在转存输出的情况下，我们不需要表头，我们可以使用index和header来取消**

In [30]:
data.to_csv(sys.stdout,index=False,header=False)

one,1,2,3.0,4,
two,5,6,,8,world
three,9,10,11.0,12,foo

**再来写一个Series的转存机制，里面涉及到了一些关于日期方法**

In [31]:
dates = pd.date_range('1/1/2000',periods=7)
print(dates)

DatetimeIndex(['2000-01-01', '2000-01-02', '2000-01-03', '2000-01-04',
               '2000-01-05', '2000-01-06', '2000-01-07'],
              dtype='datetime64[ns]', freq='D')

In [32]:
ts = pd.Series(np.arange(7),index=dates)
ts.to_csv(sys.stdout)

2000-01-01,0
2000-01-02,1
2000-01-03,2
2000-01-04,3
2000-01-05,4
2000-01-06,5
2000-01-07,6

C:\Users\Lenovo\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: The signature of `Series.to_csv` was aligned to that of `DataFrame.to_csv`, and argument 'header' will change its default value from False to True: please pass an explicit value to suppress this warning.

## 4.处理分隔符格式

**问题起源：对于表格型数据，使用**

In [41]:
data = pd.read_csv('PythonForDataAnalysis-master\PythonForDataAnalysis-master\ch06\ex7.csv',error_bad_lines=False)
data

   a  b  c
0  1  2  3
1  1  2  3

In [36]:
import csv
f = open('PythonForDataAnalysis-master\PythonForDataAnalysis-master\ch06\ex7.csv')

In [37]:
reder = csv.reader(f)

In [38]:
print(reder)

<_csv.reader object at 0x0000000009070660>